/*    <header>     */


.search_logo {
    display: none;
}


/*    </header>     */
/*    <nav class="lodging_container bloc_colored">     */


section {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}


/*    <article id="lodging" class="lodging_container bloc_colored">     */


.lodging_container {
    padding: 20px 50px;
    margin: 0 0 55px;
    background-color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_colored {
    justify-content: center;
}

.title_lodging_container h3 {
    font-size: 3vw;
    padding-bottom: 10%;
}

.lodging_card {
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    margin: 0 0 12%;
}

.storage_card_lodging {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.under_storage_lodging {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.lodging_name {
    font-size: 2.5vw;
    margin: 10px 0 5px 10px;
}

.lodging_night_price {
    font-size: 2vw;
    margin: 5px 0 10px 10px;
}

.star_lodging {
    margin: 5px 0 10px 10px;
    font-size: 2.5vw;
}

.picture_lodging {
    display: block;
    border-radius: 20px 20px 0 0;
    height: auto;
    width: 100%
}

.show_more {
    font-size: 3vw;
    margin-left: 0;
}


/*    </article>     */
/*    <aside class="most_popular_container bloc_colored">     */


.most_popular_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius: 0;
    padding: 0 50px 25px;
    width: auto;
}

.title_popular_container {
    font-size: 3vw;
    margin: 5% 0 4%;
    width: 80%;
}

.title_popular_container h3 {
    font-size: 3vw;
}

.title_popular_container i {
    font-size: 3vw;
}

.popular_card {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    padding: 8px;
    background-color: white;
    border-radius: 30px;
    margin: 30px 0;
}

.picture_popular {
    border-radius: 25px 0 0 25px;
}

.storage_card_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center {
    margin-left: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popular_name {
    font-size: 3vw;
}

.popular_night_price {
    margin-top: 45px;
    font-size: 2.5vw;
}

.star_popular {
    margin-top: 40%;
    font-size: 3vw;
}


/*    </aside>     */
/*    <section id="activity" class="activity_center">     */


.activity_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 50px 24px;
}

.activity_center h3 {
    font-size: 3vw;
}

.storage_card_activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.picture_activity {
    object-fit: cover;
    height: 300px;
    border-radius: 25px 25px 0 0;
}

.activity_container_superimpose {
    display: flex;
    flex-direction: row;
    width: 96%;
}

.activity_card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.activity_name {
    font-size: 2vw;
}

.title_activity h3 {
    font-size: 3vw;
    margin: 0 0 10%;
}

.height_card_medium {
    margin: 3%;
}
.height_card_big {
    margin: 3%;
}


/*    </section>     */
/*    <footer>    */


footer {
    font-size: 2.5vw;
}

.footer_center {
    flex-direction: column;
    padding: 24px 15%;
}


/*    </footer>    */
